.SelectContainer {
  position: relative;
}

.SelectHeader {
  $size: 18px;
  width: 100%;
  height: em(48px, $size);
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  position: relative;
  @include placeholder-color(rgba(247, 247, 247, 0.7));
  padding: em(12px, $size) em(10px, $size) em(12px, $size) em(16px, $size);
  z-index: 1000;
  background: linear-gradient($white, $white), linear-gradient($white, $white),
    linear-gradient($white, $white);
  background-size: 1px em(7px), 100% 1px, 1px em(7px);
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-size: 2px em(7px), 100% 2px, 2px em(7px);
  }

  @include ifmobile {
    $size: 16px;
    font-size: em($size);
    height: em(34px, $size);
  }

  p {
    font-size: em(18px);
    font-weight: 300;
    line-height: 120%;
    color: $text;
    font-family: $font-OpenSans;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    @include ifmobile {
      font-size: em(16px);
    }
  }

  .NotEmpty {
    color: $text;
  }

  .Empty {
    color: rgba(247, 247, 247, 0.7);
  }
}

.SelectHeaderFocus {
  background: linear-gradient($red, $red), linear-gradient($red, $red),
    linear-gradient($red, $red);
  background-size: 2px em(7px), 100% 2px, 2px em(7px);
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
}

.SelectList {
  position: absolute;
  z-index: 100000;
  top: 100%;
  width: 100%;
  background: #222226;
  box-shadow: inset 0px 20px 30px rgba(0, 0, 0, 0.25);
  max-height: em(209px);
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    width: em(3px);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(247, 247, 247, 0.5);
    border-radius: 100px;
  }
}

.ListItem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: em(14px) em(11px) em(14px) em(20px);
  cursor: pointer;
  border-bottom: 1px solid #2c2c2c;
  &:hover {
    color: $text;
    background: $red;
  }

  &_Title {
    font-size: em(16px);
    color: $text;

    @include ifmobile {
      font-size: em(14px);
    }
  }

  &_Icon {
    width: em(19px);
    height: em(14px);
  }
}

.ListItem.Active .ListItem_Title {
  color: $red;
}

.ListItem.Active:hover {
  background: none;
}

.Error {
  background: linear-gradient(#ff9900, #ff9900),
    linear-gradient(#ff9900, #ff9900), linear-gradient(#ff9900, #ff9900) !important;
  background-size: 1px em(7px), 100% 1px, 1px em(7px) !important;
  background-position: bottom left, bottom center, bottom right !important;
  background-repeat: no-repeat !important;
}

.ErrorText {
  margin-top: em(8px);
  span {
    display: flex;
    font-weight: 300;
    font-size: em(12px);
    line-height: 120%;
    color: #ff9900;
  }
}

.IconArrow {
  width: em(22px);
  height: em(8px);
  transition: ease 0.6s;
}

.IconArrowActive {
  transform: rotate(180deg);
}
