.Wrapper {
  flex: 0 0 auto;
  position: relative;
  z-index: 1000;
  background: $main_bg;
  @include ifdesktop {
    padding: 0 em(50px);
  }
}

.Footer {
  padding: em(40px) 0 em(80px);

  @include iftablet {
    padding: em(40px) 0 em(60px);
  }

  @include ifmobile {
    padding: em(40px) 0 em(35px);
  }

  &_Top {
    display: grid;
    grid-template-columns: em(345px) 1fr;
    grid-gap: em(140px);
    margin-bottom: em(80px);

    @include iftablet {
      grid-template-columns: em(250px) 1fr;
      grid-gap: em(28px);
    }
    @include ifmobile {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: em(33px);
    }
  }

  &_Logo {
    display: flex;
    flex-direction: column;
    @include iftablet {
      max-width: em(200px);
    }
    @include ifmobile {
      margin-bottom: em(40px);
    }
    .Logo {
      z-index: inherit;
      margin-bottom: em(19px);
      @include ifmobile {
        margin-bottom: em(15px);
      }
      path {
        fill: $white;
      }
    }

    .Copyright {
      font-size: em(14px);
      line-height: 120%;
      font-style: normal;
      font-weight: 300;
      color: rgba(247, 247, 247, 0.5);
      @include iftablet {
        font-size: em(12px);
      }
      @include ifmobile {
        font-size: em(12px);
      }
    }
  }

  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include ifmobile {
      gap: em(20px) 0;
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &_Bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    @include ifmobile {
    }
    .Social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: em(200px);
      @include ifmobile {
        max-width: em(240px);
        margin-bottom: em(26px);
      }

      .SocialIcon {
        position: relative;
        display: flex;
        &:hover {
          path {
            fill: $red;
          }
        }
      }

      .Tiktok {
        width: em(20px);
        height: em(20px);
      }

      .Facebook {
        width: em(11px);
        height: em(18px);
      }

      .Instagram {
        width: em(19px);
        height: em(19px);
      }

      .Twitter {
        width: em(24px);
        height: em(19px);
      }

      .Linkedin {
        width: em(20px);
        height: em(20px);
      }
    }

    .Form {
      display: flex;
      flex-direction: column;
      position: relative;
      @include ifmobile {
        width: 100%;
        margin-bottom: em(52px);
      }
      &_Title {
        margin-bottom: em(24px);
        @include ifmobile {
          margin-bottom: em(15px);
        }
        span {
          display: block;
          font-size: em(20px);
          font-weight: 300;
          line-height: 100%;
          color: $white;
          text-transform: uppercase;
          @include iftablet {
            font-size: em(16px);
          }
          @include ifmobile {
            font-size: em(16px);
          }
        }
      }

      &_Actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: em(687px);
        @include ifmobile {
          flex-direction: column;
        }
        .Input {
          width: em(468px);
          margin-right: em(24px);
          @include iftablet {
            width: em(370px);
          }
          @include ifmobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: em(25px);
          }
        }

        .Button {
          width: em(195px);
          height: em(48px);
          @include ifmobile {
            width: 100%;
            height: em(44px);
          }
        }
      }

      .SuccessAlert {
        width: em(687px);
        height: em(92px);
        border: em(1px) solid $white;
        padding: em(23px) em(27px);
        animation-name: FadeIn;
        animation-duration: 2s;
        transition-timing-function: linear;
        position: relative;
        @include iftablet {
          width: em(589px);
          height: em(88px);
        }
        @include ifmobile {
          width: 100%;
          height: em(138px);
          padding: em(10px) em(16px);
          position: relative;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &_Icon {
          position: absolute;
          top: em(22px);
          right: em(22px);
          width: em(18.28px);
          height: em(12.7px);
        }

        &_Title {
          margin-bottom: em(10px);
          @include ifmobile {
          }
          span {
            display: block;
            font-size: em(20px);
            line-height: 100%;
            font-weight: 300;
            color: $white;
            text-transform: uppercase;
            @include ifmobile {
              font-size: em(12px);
            }
          }
        }

        &_Subtitle {
          font-size: em(16px);
          font-style: normal;
          font-weight: 300;
          color: rgba(247, 247, 247, 0.7);
          @include ifmobile {
            font-size: em(11px);
          }
        }
      }
    }
  }
}

@include keyframe(FadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
