@font-face {
  font-family: 'Pirulen';
  src: local('Pirulen'), local('Pirulen-Regular'),
    url('~assets/fonts/Pirulen-Regular.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeckhamPress';
  src: local('PeckhamPress'), local('PeckhamPress-Trial'),
    url('~assets/fonts/PeckhamPress-Trial.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
