///current
$main_bg: #171719;
$white: #f7f7f7;
$text: #f7f7f7;
$red: #dc4945;

//old
$speed: 0.3s;
$navbar-height: 84px;
$top-padding: calc($navbar-height + 105px);

$black: #000000;
$green: #1b692c;
$yellow: #e8e268;
$dirty_blue: #1d2747;
$blue30: #c3cffe;
$dark4: #060812;
$blue: #2e3d8d;
$grey: #948f8f;

// $font-Avenir: 'Avenir Next', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-Pirulen: 'Pirulen', sans-serif;
$font-PeckhamPress: 'PeckhamPress', sans-serif;
