.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: em(338px);
  &_Icon {
    margin-bottom: em(34px);
    @include ifmobile {
      margin-bottom: em(25px);
    }
  }

  &_Title {
    margin-bottom: em(34px);
    @include ifmobile {
      margin-bottom: em(13px);
    }
    span {
      font-family: $font-Pirulen;
      font-weight: 300;
      font-size: em(18px);
      text-align: center;
      text-transform: uppercase;
      color: $text;
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  &_Description {
    cursor: pointer;
    position: relative;
    p {
      font-weight: 300;
      font-size: em(18px);
      line-height: 156%;
      text-align: center;
      color: $text;
      height: auto;
      max-height: 9999px;
      overflow: hidden;
      background: linear-gradient(
        180deg,
        #f7f7f7 50%,
        rgba(247, 247, 247, 1) 65.38%
      );
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: #fff0;
      text-shadow: 0 -1px 0 rgba(255, 255, 255);
      transition: all 0.6s cubic-bezier(1, 0, 1, 0);
      @include ifmobile {
        font-size: em(16px);
      }
    }

    .Hidden {
      background: linear-gradient(
        180deg,
        #f7f7f7 0%,
        rgba(247, 247, 247, 0) 65.38%
      );
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: #fff0;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
      max-height: em(70px);
      transition: all 0.6s cubic-bezier(0, 1, 0, 1);
    }
  }

  &_IconShowMore {
    position: absolute;
    bottom: em(-38px);
    right: calc(50% - em(7px));
    width: em(16px);
    height: em(31px);
    transform: rotate(-90deg);
    opacity: 0.1;
    transition: opacity 1s ease-in-out;

    &_Hidden {
      opacity: 0;
    }
  }
}

.Stability {
  width: em(70px);
  min-height: em(70px);
}

.EcoFriendly {
  width: em(46px);
  min-height: em(66px);
}

.Security {
  width: em(60px);
  min-height: em(70px);
}

.LowCost {
  width: em(35px);
  min-height: em(70px);
}

.Global {
  width: em(70px);
  min-height: em(70px);
}

.DeveloperTools {
  width: em(59px);
  min-height: em(70px);
}
