.Wrapper {
  position: relative;
  padding: 0 em(50px) em(212px);
  @include iftablet {
    padding: 0 0 em(200px);
  }
  @include ifmobile {
    padding: 0 0 em(100px);
  }
}

.UsfForm {
  display: grid;
  grid-template-columns: 1fr em(577px);
  gap: 0 em(152px);

  @include iftablet {
    grid-template-columns: 1fr;
    gap: em(50px) 0;
  }
  @include ifmobile {
    grid-template-columns: 1fr;
    gap: em(68px) 0;
  }

  &_Title {
    font-family: $font-Pirulen;
    font-weight: 400;
    font-size: em(48px);
    text-transform: uppercase;
    color: $text;
    @include ifmobile {
      font-size: em(24px);
    }
  }

  &_Form {
    @include ifdesktop {
      padding-top: em(38px);
    }

    &_Input {
      margin-bottom: em(40px);
      @include iftablet {
        max-width: em(577px);
      }
      @include ifmobile {
        margin-bottom: em(20px);
      }
    }

    &_Button {
      width: em(238px);
      margin-top: em(70px);
      @include ifmobile {
        width: 100%;
      }
    }

    &_Success {
      height: em(251px);
      border: em(1px) solid $white;
      animation-name: FadeIn;
      animation-duration: 2s;
      transition-timing-function: linear;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include iftablet {
        height: em(251px);
      }
      @include ifmobile {
        height: em(203px);
        padding: em(20px);
      }

      &_Icon {
        width: em(51px);
        height: em(39px);
        margin-top: em(24px);
        @include ifmobile {
          margin-top: em(40px);
        }
      }

      &_Title {
        margin-bottom: em(24px);
        @include ifmobile {
          margin-bottom: em(16px);
        }
        span {
          display: block;
          font-size: em(24px);
          line-height: 100%;
          font-weight: 400;
          color: $white;
          text-transform: uppercase;
          @include ifmobile {
            font-size: em(20px);
          }
        }
      }

      &_Subtitle {
        font-size: em(18px);
        font-style: normal;
        font-weight: 400;
        color: rgba(247, 247, 247, 0.7);
        @include ifmobile {
          font-size: em(16px);
          text-align: center;
        }
      }
    }
  }
}
