.Title {
  font-style: normal;
  line-height: 120%;
  font-weight: 500;

  &_h1 {
    font-size: em(32px);
    text-transform: uppercase;
    @include ifmobile {
      font-size: em(24px);
    }
  }
  &_h2 {
    font-size: em(24px);
    line-height: 133%;
    @include ifmobile {
      font-size: em(18px);
    }
  }
}
