.Title {
  font-style: normal;
  line-height: 120%;

  &_h1 {
    font-family: $font-PeckhamPress;
    font-weight: 400;
    font-size: em(46px);
    color: $text;
    @include ifmobile {
      font-size: em(22px);
    }
  }

  &_h2 {
    font-family: $font-Pirulen;
    font-weight: 400;
    font-size: em(24px);
    text-transform: uppercase;
    color: $red !important;

    @include ifmobile {
      font-size: em(16px);
    }
  }
}
