.Wrapper {
  position: relative;
  padding: em(200px) 0 em(523px);
  @include iftablet {
    padding: em(209px) 0 em(152px);
  }
  @include ifmobile {
    padding: em(166px) 0 em(101px);
  }
}

.Background {
  position: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
