.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Input {
  $size: 16px;
  line-height: 100%;
  font-size: em($size);
  font-weight: 400;
  width: 100%;
  height: em(38px);
  background: none;
  outline: none;
  border: none;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  color: rgba(247, 247, 247, 0.7);
  border-bottom: 1px solid $white;
  @include placeholder-color(rgba(247, 247, 247, 0.7));
  padding: em(12px, $size) em(12px, $size);
  font-family: $font-OpenSans;
  text-transform: uppercase;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-width: em(2px);
    border-color: rgba(247, 247, 247, 0.7);
  }
}

.Error {
  border-bottom: em(2px) solid #a11515;
}

.ErrorText {
  font-family: $font-OpenSans;
  font-size: em(13px);
  line-height: 100%;
  color: #a11515;
  display: block;
  margin-top: em(10px);
  font-weight: 400;
}

.Label {
  font-family: $font-OpenSans;
  font-size: em(16px);
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: $white;
  position: relative;
  margin-bottom: em(10px);
}
