.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Input {
  $size: 18px;
  font-size: em($size);
  font-weight: 400;
  line-height: 120%;
  width: 100%;
  height: em(48px, $size);
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  position: relative;
  color: $text;
  @include placeholder-color(rgba(247, 247, 247, 0.7));
  padding: em(12px, $size) em(16px, $size);
  font-family: $font-OpenSans;
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 1000;
  background: linear-gradient($white, $white), linear-gradient($white, $white),
    linear-gradient($white, $white);
  background-size: 1px em(7px), 100% 1px, 1px 7px;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;

  &:hover {
    background-size: 2px 7px, 100% 2px, 2px 7px;
  }

  &:focus {
    background: linear-gradient($red, $red), linear-gradient($red, $red),
      linear-gradient($red, $red);
    background-size: 2px 7px, 100% 2px, 2px 7px;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
  }

  @include ifmobile {
    $size: 16px;
    font-size: em($size);
    height: em(34px, $size);
  }
}

.Error {
  background: linear-gradient(#ff9900, #ff9900),
    linear-gradient(#ff9900, #ff9900), linear-gradient(#ff9900, #ff9900);
  background-size: 1px 7px, 100% 1px, 1px 7px;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
}

.ErrorText {
  margin-top: em(8px);
  span {
    display: flex;
    font-weight: 400;
    font-size: em(12px);
    line-height: 120%;
    color: #ff9900;
  }
}
