.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Error {
  border-bottom: 2px solid $red;
}

.ErrorText {
  margin-top: em(8px);
  span {
    display: flex;
    font-weight: 300;
    font-size: em(12px);
    line-height: 120%;
    color: #ff9900;
  }
}
