@import './../src/assets/scss/core.scss';

/* Слайды */
.slick-slide {
  width: 100% !important;
  max-width: em(710px) !important;
  margin: 0 em(9px) !important;
  height: em(533px) !important;

  @include iftablet {
    margin: 0 em(90px) !important;
  }
  @include ifmobile {
    height: em(449px) !important;
    margin: 0 !important;
  }
}

.slick-slider .slick-track {
  display: flex;
}

@include keyframe(FadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

///стили для InputPhone
.react-tel-input .form-control {
  font-size: em(18px) !important;
  font-weight: 300 !important;
  line-height: 120% !important;
  border-radius: 0 !important;
  letter-spacing: inherit !important;
  -webkit-border-radius: 0 !important;
  -webkit-appearance: none !important;
  outline: none !important;
  border: none !important;
  width: 100% !important;
  height: em(42px) !important;
  box-sizing: border-box !important;
  position: relative !important;
  color: $text !important;
  @include placeholder-color(rgba(247, 247, 247, 0.7) !important);
  padding: 0 em(16px) 0 em(57px) !important;
  font-family: $font-OpenSans !important;
  text-transform: uppercase !important;
  background: linear-gradient($white, $white), linear-gradient($white, $white),
    linear-gradient($white, $white) !important;
  background-size: 1px em(7px), 100% 1px, 1px em(7px) !important;
  background-position: bottom left, bottom center, bottom right !important;
  background-repeat: no-repeat !important;

  @include ifmobile {
    font-size: em(16px) !important;
    height: em(34px) !important;
  }

  &:hover {
    background-size: 2px em(7px), 100% 2px, 2px em(7px) !important;
  }

  &:focus {
    background: linear-gradient($red, $red), linear-gradient($red, $red),
      linear-gradient($red, $red) !important;
    background-size: 2px em(7px), 100% 2px, 2px em(7px) !important;
    background-position: bottom left, bottom center, bottom right !important;
    background-repeat: no-repeat !important;
  }
}

.react-tel-input {
  font-family: $font-OpenSans !important;
  font-weight: 300 !important;
  font-size: em(16px) !important;
  line-height: 100% !important;
  color: $text !important;
  z-index: 10000 !important;
}

.react-tel-input .country-list {
  width: 100% !important;
  margin: 0 !important;
  background: #222226 !important;
  min-height: em(244px) !important;
  border-radius: 0 !important;
  &::-webkit-scrollbar {
    width: em(3px) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(247, 247, 247, 0.5) !important;
    border-radius: 100px !important;
  }
}

.react-tel-input .country-list .search {
  background: #222226 !important;
}

.react-tel-input .flag-dropdown {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.react-tel-input .flag-dropdown.open {
  width: 100% !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
}

.react-tel-input .selected-flag {
  padding: 0 0 0 em(16px) !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: none !important;
}

.react-tel-input .country-list .country:hover {
  background: #dc4945 !important;
}

.react-tel-input .country-list .country .dial-code {
  font-family: $font-OpenSans !important;
  font-weight: 300 !important;
  font-size: em(16px) !important;
  line-height: 100% !important;
  color: rgba(247, 247, 247, 0.5) !important;
  z-index: 10000 !important;
}

.react-tel-input .country-list .country.highlight {
  background: none !important;
  background-image: url('/images/icon/select-active-icon.png') !important;
  background-position: 98% 40% !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  .country-name {
    color: $red !important;
  }
  .dial-code {
    color: rgba(220, 73, 69, 0.5) !important;
  }
}

.react-tel-input .country-list .country {
  display: flex !important;
  align-items: center !important;
  padding: em(17px) em(20px) !important;
  border-bottom: 1px solid #2c2c2c !important;
}

.react-tel-input .country-list .country-name {
  font-size: em(16px) !important;
  @include ifmobile {
    font-size: em(14px) !important;
  }
}

.react-tel-input .country-list .search-emoji {
  background-image: url('/images/icon/search-icon.png') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 18px !important;
  height: 18px !important;
  display: inline-flex !important;
  font-size: 0 !important;
}

.react-tel-input .country-list .search {
  display: flex;
  align-items: center;
  padding: em(12px) em(18px) !important;
  z-index: 1000000;
}

.react-tel-input .country-list .search-box {
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  margin-left: em(9px) !important;
  padding: em(3px) 0 em(5px) !important;
  outline: none !important;
  font-weight: 300 !important;
  font-size: em(16px) !important;
  background: none !important;
  color: rgba(247, 247, 247, 0.5) !important;
}

.react-tel-input .country-list .flag {
  margin-right: em(12px) !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none !important;
  height: em(15px);
  width: em(15px);
  background: url('/images/icon/search-remove.svg');
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  position: absolute !important;
  right: 0;
  @include iftablet {
    right: em(16px) !important;
  }
  @include ifmobile {
    right: em(16px) !important;
  }
}

.react-tel-input .form-control.phone-input-error {
  background: linear-gradient(#ff9900, #ff9900),
    linear-gradient(#ff9900, #ff9900), linear-gradient(#ff9900, #ff9900) !important;
  background-size: 1px em(7px), 100% 1px, 1px em(7px) !important;
  background-position: bottom left, bottom center, bottom right !important;
  background-repeat: no-repeat !important;
}

//animation

:root {
  --animate-delay: 0.1s !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.Header_animated {
  position: inherit;
  z-index: 1000;
  --animate-delay: 0.5s !important;
  animation-delay: calc(var(--animate-delay) * 1) !important;
}

// .paragraph_animated {
//   font-size: em(16px);
//   font-style: normal;
//   font-weight: 400;
//   line-height: 133%;
//   color: $white;
//   @include ifmobile {
//     font-size: em(14px);
//   }
// }

// .paragraph_animated span {
//   animation: letter-glow 0.7s 0s ease both;
//   @include nth-ani-delay(500, 0.005s);
// }

// @keyframes letter-glow {
//   0% {
//     opacity: 0;
//     text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
//   }
//   66% {
//     opacity: 1;
//     text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
//   }
//   77% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.7;
//     text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
//   }
// }
